<% include header %>

<h3>Nieuwsitems voor land <%- landen[id] %></h3>

  <% for (i = 0; i < items.length; i++) { %>
    <% if (items[i].land.indexOf(landen[id]) !== -1) { %>

      <span class="divider"></span>

      <section>
          <h2><a href=/items/<%- items[i].id %>><%- items[i].titel %></a></h2>
          <a href=/items/<%- items[i].id %>><img src="/img/<%- items[i].afbeeldingen[0] %>" alt="<%- items[i].titel %>"></a>

          <div class="inhoud">
          <p class="datum"><%- items[i].datum %></p>
          <p class="inline stad"><%- items[i].stad %> - </p>
          <p class="inline"><%- items[i].samenvatting %></p>
        </div>
      </section>

    <% } %>
  <% } %>

<% include footer %>
