<% include header %>

<section id="nieuwsitem">

    <h2>
      <%- item.titel %>
    </h2>

    <% for (i = 0; i < item.afbeeldingen.length; i++) { %>
      <img src="/img/<%- item.afbeeldingen[i] %>" alt="<%- item.titel %>">
    <% } %>

<div class="inhoud">

    <p class="datum"><%- item.datum %></p>
    <p class="inline land"><%- item.land %> - </p>
    <p class="inline stad"><%- item.stad %></p>

    <p class="bold"><%- item.samenvatting %></p>
    <p class="tekst"><%- item.body %> </p>

    <p class="categorieen">Gepost in categorieën:

      <% for (i = 0; i < item.categorieen.length; i++) { %>
        <a href="/categorieen/<%- i %>"><%- item.categorieen[i] %></a><% if (i+1< item.categorieen.length){ %>, <% } %>
      <% } %>
    </p>

  </div>

    <div class="commentbox">

      <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://https-shrouded-retreat-40610-herokuapp-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    </div>

</section>

<% include footer %>
